subscription_id          = "00000000-0000-0000-0000-000000000000"
tenant_id                = "00000000-0000-0000-0000-000000000000"
databricks_workspace_url = "https://adb-0000000000000000.0.azuredatabricks.net"
location                 = "eastus2"
storage_suffix           = "dv01"
github_repo              = "your-org/ecom-signal-platform"
reader_groups             = ["data-analysts"]
